@()

@main("Beauty Claw") {

<div class="container">
    <h2>ForgotPassword</h2>
    <form action="/forgot password" method="post">

        <label>Old password:</label>
        <input type="old password" id="old password" name="old password" required>

        <label>New password:</label>
        <input type="New password" id="New password" name="New password" required>

        <label>Confirm password:</label>
        <input type="Confirm password" id="Confirm password" name="Confirm password" required>


      <button type="Submit"><a href="@routes.HomeController.index()" class="btn btn-link">Submit</a></button>

    </form>
</div>
}
